@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Oswald:wght@700&display=swap");

body {
  background-image: url("./img/bg.png");
  background-position: top;
  color: white;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

main {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  margin-top: 150px;
}

.main_left-container {
  max-width: 636px;
  width: 100%;
}

.logo {
  width: 174px;
  height: 102px;
}

.main_heading {
  font-family: Oswald;
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 24px;
  -webkit-text-stroke: 3px #5d3277;
}

.main_paragraph {
  font-family: "Open Sans";
  font-size: 32px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 55px;
  -webkit-text-stroke: 2px #5d3277e3;
}

.main_button {
  min-width: 298px;
  max-width: 500px;
  min-height: 71px;
  border-radius: 40px;
  border: 20px;
  background: linear-gradient(180deg, #487100 0%, #639d00 100%);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Open Sans";
  font-size: 50px;
  font-weight: 700;
  color: white;
  cursor: pointer;
  word-wrap: break-word;
}

.main_button:hover {
  opacity: 0.8;
}

.button_border {
  background: linear-gradient(180deg, #e0fe01 0%, #375f01 100%);
  width: fit-content;
  min-width: 298px;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.main_right-container {
  width: 100%;
  max-width: 636px;
}

.main_img-container {
  background-image: url("./img/main_img.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 481px;
  height: 509px;
  position: relative;
}

.bonus {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(
    180deg,
    rgba(247, 188, 114, 1) 0%,
    rgba(143, 74, 10, 1) 100%
  );

  padding: 8px;
  border-radius: 40px;
  justify-content: center;
  height: fit-content;
  width: fit-content;
}

.bonus_text {
  left: 0;
  bottom: 0;
  padding: 14px 12px;
  background: linear-gradient(180deg, #e67d1d 0%, #f9a63a 100%);
  border-radius: 40px;
  max-width: 500px;
}

.bonus_heading {
  text-align: center;
  font-family: Oswald;
  font-size: 40px;
  font-weight: 700;
  margin: 0;
  min-width: 310px;
  overflow-wrap: break-word;
  -webkit-text-stroke: 2px #5d3277;
}

.bonus_paragraph {
  text-align: center;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 700;
  color: #85460b;
  width: 100%;
  margin: 0;
  opacity: 0.8;
  overflow-wrap: break-word;
}

.bullets {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 100%;
}

.bullet {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 196px;
}

.bullet_img {
  width: 102px;
  height: 106px;
  height: auto;
  margin: 0;
}

.bullet_text {
  text-align: center;
  font-family: "Open Sans";
  font-size: 22px;
  font-weight: 700;
  margin: 0;
  -webkit-text-stroke: 1px #5d3277;
}

@media (max-width: 905px) {
  body {
    padding: 0;
    margin: 0;
    background-image: url("./img/m_bg.png");
    background-size: cover;
  }
  .main_heading {
    text-align: center;
    font-size: 50px;
  }

  .main_paragraph {
    text-align: center;
    font-size: 24px;
  }

  .main {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
  }
  .main_left-container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .main_right-container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .bullet {
    margin-top: 50px;
  }
}

@media (max-width: 500px) {
  .logo {
    width: 93px;
    height: 54px;
  }

  .main {
    overflow-x: hidden;
  }

  .main_heading {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
    max-width: 357px;
    -webkit-text-stroke: 1px #5d3277;
  }

  .main_paragraph {
    font-size: 16px;
    max-width: 273px;
    margin-bottom: 25px;
    -webkit-text-stroke: 1px #5d3277;
  }

  .main_button {
    min-height: 56px;
    min-width: 166px;
    max-width: 300px;
    font-size: 32px;
  }

  .button_border {
    min-width: 166px;
    width: 33%;
  }
  .main_img-container {
    width: 420px;
    height: 338px;
  }

  .bonus {
    bottom: -70px;
    left: 50%;
    -webkit-transform: translate(-50%);
    min-width: 320px;
  }

  .bonus_heading {
    font-size: 24px;
    max-width: 300px;
  }
  .bonus_paragraph {
    font-size: 20px;
    max-width: 167px;
    margin: 0 auto;
    max-width: 300px;
  }

  .bullets {
    flex-direction: column;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 50px;
  }

  .bullet {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 332px;
    gap: 20px;
  }

  .bullet_img {
    width: 60px;
  }

  .bullet_text {
    font-size: 20px;
    text-align: left;
    width: 257px;
    font-weight: 700;
  }
}
